# PostgreSQL
POSTGRES_USER=setss_user
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=setss_db

# MinIO
MINIO_ROOT_USER=setss_minio
MINIO_ROOT_PASSWORD=CHANGE_ME
MINIO_BUCKET=setss-files
MINIO_ENDPOINT=minio:9000
MINIO_SECURE=false

# Backend
SECRET_KEY=CHANGE_ME_use_openssl_rand_hex_32
DEBUG=false

# Frontend
VITE_API_URL=http://localhost:8000
